body {
    margin : 0;
}

.global {
   margin-bottom : 10px;
    display : flex;
    justify-content : center;
}

a {
    text-decoration : none;
}

.titleDrawer {
    height : 10vh;
    display : flex;
    justify-content : center;
    align-items : center;
    background-color : rgb(0, 188, 212);
    color : white;
    font-size : x-large;
    font-style: italic;
}

.navActions {
    display : flex;
    justify-content : center;
    align-items : center;
}

.card:hover {
    background-color : #EEE !important;
}

link:hover {
    cursor : pointer;
}

.form {
    text-align : center;
    padding : 20px 0;
}

.adHeader, .adBody, .adCategory {
    display : flex;
    align-items : center;
    width : 80%;
    margin : auto;
}

.adHeader {
    height : 20%;
    justify-content : space-between;
}

.adBody {
    height : 50%;
    text-align: justify;}

.adCategory {
    height : 30%;
    justify-content : center;
}

.cards {
    width : 90%;
    margin-left : auto;
    margin-right : auto
}

.cardHeader {
    display : flex;
    justify-content : space-between;
    align-items : center;
    margin-right : 16px;
}

.category {
    display : flex;
    justify-content : center;
    align-items : center;
    margin : 20px 0 60px 0;
}

@media screen and (min-width: 992px) {
    .global {
        width : 990px;
        margin-left : auto;
        margin-right : auto
    }

    .cards {
        width : 70%;
        margin-left : auto;
        margin-right : auto
    }
}